*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-image: url(/images/pic3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}

.login-form{
    min-height: 60vh;
    background-color: rgba(249, 251, 252, 0.863);
    padding: 22px;
    margin-top: 15vh;
    border-radius: 10px;
    border: 2px solid black;
   
}
label{
    font-weight: bold;
}
h3{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.paragraph{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.down{
    padding-top: 40px;
}
.signbutton{
    padding-top: 10px;
}

